@model IEnumerable<web.Models.Zvrst>

@{
    ViewData["Title"] = "Index";
}

<h1>Zvrsti</h1>

<p>
    <a asp-action="Create">Dodaj novo zvrst</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImeZvrsti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeZvrsti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ZvrstID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ZvrstID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ZvrstID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
