@model web.Models.Izdelek

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Knjiga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naslov)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.znamka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.znamka.znamkaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zvrst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zvrst.ZvrstID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategorija.KategorijaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IzdelekId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
