@model web.Models.Rezervacija

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumPrevzema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumPrevzema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datumZapadlosti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datumZapadlosti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Izdelek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Izdelek.IzdelekId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEdited)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEdited)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RezervacijaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
