@model IEnumerable<web.Models.Rezervacija>
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager

@{
    var currentUser = await SignInManager.UserManager.GetUserAsync(SignInManager.Context.User);
}

<h1>Sposoja</h1>

<p>
    <a asp-action="Create">Nova Sposoja</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datumPrevzema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumZapadlosti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Izdelek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(r => r.Owner == currentUser))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.datumPrevzema)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datumZapadlosti)
                </td>
                <td>
    @if (item.Izdelek != null)
    {
        @Html.DisplayFor(modelItem => item.Izdelek.Naslov)
    }
    else
    {
        <text>N/A</text>
    }
</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RezervacijaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RezervacijaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RezervacijaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
